/*region Base*/

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
  line-height: 1.1;
}
a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*end region Base*/

/* region Common */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding: 120px 0;
}
/* region Header*/
.header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
}
header > div {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 76px;
}
.nav-menu {
  display: flex;
  gap: 40px;
}
/*Logo*/

.header-nav-logo-blue {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-nav-logo-black {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.nav-menu-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  padding: 24px 0 24px 0;
}

.nav-menu-link:hover,
.nav-menu-link:focus,
.nav-menu-link:active {
  color: #404bbf;
}
.header-contacts {
  font-style: normal;
  margin-left: auto;
}
.header-contacts-list {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-contacts-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-contacts-link:hover,
.header-contacts-link:focus,
.header-contacts-link:active {
  color: #404bbf;
}
/*and region Header*/

/*region Hero*/

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.hero-btn {
  display: block;
  min-width: 169px;
  min-height: 56px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* end region Hero*/

/* region Benefits*/

.benefits {
  padding: 120px 0 120px 0;
}
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-item {
  width: calc((100% - 3 * 24px) / 4);
}

.benefits-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.benefits-dscr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* end region Benefits*/
/* #region Team */
.team {
  background-color: #f4f4fd;
  padding: 120px 0 120px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-member-container {
  padding: 32px 0;
}
.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.team-position {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: #434455;
}
/*Portfolio Section*/
.portfolio {
  padding: 120px 0 120px 0;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.name-category-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

/*end Portfolio Section*/
/* Footer section*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo-blue {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-white {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-slogan {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  max-width: 264px;
}
/* end Footer section*/
